* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navBar{
    background-color: white;
    overflow: hidden;
    display: flex;
    width: 80%;
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    float: right;
    padding-top: 32px;
    font-weight: bold;
}

.navButton{
    float: left;
    color: #ee6146;
    text-align: center;
    padding: 14px, 16px;
    font-size: 20px;
    text-decoration: none;
}
.navButton:hover{
    color:white;
    background-color: #ee6146;
    padding: 5px;
}
.navBar:active{
    color: white;
}